<h2>Lista de empleados</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.email}}</td>
            <td>
                <button (click)="actualizarEmpleado(empleado.id)" class="btn btn-info">Editar</button>
                <button (click)="eliminarEmpleado(empleado.id)" class="btn btn-danger" style="margin-left : 15px">Eliminar</button>
                <button (click)="verDetallesDelEmpleado(empleado.id)" class="btn btn-primary" style="margin-left : 15px">Detalles</button>
            </td>
        </tr>
    </tbody>
</table>
